<section class="intro">
	<div class="intro-container">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{% for x in range(1,6) %}
				<div class="swiper-slide img slide-number-{{ x }}" style="background-image: url('../images/slide1.jpg'); background-size:cover; background-repeat: no-repeat;">
					<div class="intro-content">
						<div class="container">
							<h2>Smile</h2>
							<p>it costs you nothing</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
