<section class="posters-section">
	<div class="container-fluid">
		<div class="posters-header">
			<h4>Buy Poster Prints</h4>
			<div class="line"></div>
		</div>
		<div class="posters">
			<div class="half">
				<div
					class="poster big"
					style="background-image: url('/images/article1.jpg')"
				>
					<div class="links">
						<a href="#">BUY NOW</a>
						<a href="#"> SHARE<i class="fa-solid fa-share"></i></a>
					</div>
				</div>
			</div>
			<div class="half">
				<div
					class="poster"
					style="background-image: url('/images/article2.jpg')"
				></div>
				<div
					class="poster small"
					style="background-image: url('/images/article3.jpg')"
				></div>
				<div
					class="poster small"
					style="background-image: url('/images/article4.jpg')"
				></div>
			</div>
			<div class="browse-btn">
				<button class="btn">BROWSE POSTERS</button>
			</div>
		</div>
	</div>
</section>
