<section class="testimonials">
	<div class="swiper mySwiper2">
		<div class="swiper-wrapper">
			<div class="swiper-slide my-slide">
				<div class="container-fluid">
					<div class="slide-container">
						<div class="text">
							<p>
								I love people who make me laugh. I honestly think it's the thing
								I like the most, to laugh. It cures a multitude of ills. It's
								probably the most important thing in a person.
							</p>
							<small>Audrey Hepburn</small>
						</div>
						<div
							class="image"
							style="background-image: url('../images/testimonial1.jpg')"
						></div>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="container-fluid">
					<div class="slide-container">
						<div class="text">
							<p>
								I love people who make me laugh. I honestly think it's the thing
								I like the most, to laugh. It cures a multitude of ills. It's
								probably the most important thing in a person.
							</p>
							<small>Audrey Hepburn</small>
						</div>
						<div
							class="image"
							style="background-image: url('../images/testimonial1.jpg')"
						></div>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="container-fluid">
					<div class="slide-container">
						<div class="text">
							<p>
								I love people who make me laugh. I honestly think it's the thing
								I like the most, to laugh. It cures a multitude of ills. It's
								probably the most important thing in a person.
							</p>
							<small>Audrey Hepburn</small>
						</div>
						<div
							class="image"
							style="background-image: url('../images/testimonial1.jpg')"
						></div>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="container-fluid">
					<div class="slide-container">
						<div class="text">
							<p>
								I love people who make me laugh. I honestly think it's the thing
								I like the most, to laugh. It cures a multitude of ills. It's
								probably the most important thing in a person.
							</p>
							<small>Audrey Hepburn</small>
						</div>
						<div
							class="image"
							style="background-image: url('../images/testimonial1.jpg')"
						></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container container-custom">
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
