<footer>
	<div class="container-fluid footer-container">
		<div class="footer-wraper">
			<div class="column-container browse-shop">
				<div class="footer-browse">
					<h5>Browse</h5>
					<ul>
						<li><a href="#"> Home</a></li>
						<li><a href="#"> About Us</a></li>
						<li><a href="#">Categories </a></li>
						<li><a href="#">Info</a></li>
						<li><a href="#"> Services</a></li>
					</ul>
				</div>
				<div class="footer-shop">
					<h5>Shop</h5>
					<ul>
						<li><a href="#">Account</a></li>
						<li><a href="#">Help & Guide</a></li>
						<li><a href="#">Shipping & Returns</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
			</div>

			<div class="column-container contact">
				<div class="footer-contact">
					<h5>Contact</h5>
					<ul>
						<li>Quotes PSD Template</li>
						<li>Rudra Street, 12345 Villa</li>
						<li>My State - My Country</li>
						<small>987658</small>
						<ul class="contact-section">
							<li>Phone: + 01 234 567 890</li>
							<li>Fax: + 01 234 567 890</li>
							<li>graphicsfuel@gmail.com</li>
						</ul>
					</ul>
				</div>
				<div class="footer-subscribe">
					<h5>Subscribe now</h5>
					<p>Get out latest news and product daily</p>
					<input type="email" placeholder="Email Address" />
					<div class="submit-button">
						<button type="submit">Submit</button>
					</div>
				</div>
			</div>

			<div class="footer-copyright">
					<div class="copyright">
						<p>2022 © Copyright - Quotes PSD Templates. All rights reserved.</p>	
					</div>
					<div class="footer-social">
						<a class="facebook-btn" href="#" role="button"
							><i class="fab fa-facebook-f"></i></a>

						<a class="twitter-btn" href="#" role="button"
							><i class="fab fa-twitter"></i></a>

						<a class="linkedin-btn" href="#" role="button"
							><i class="fab fa-linkedin"></i></a>

						<a class="youtube-btn" href="#" role="button">
							<i class="fab fa-youtube"></i></a>

						<a class="google-btn" href="#" role="button"
							><i class="fab fa-google">+</i></a>

						<a class="pinterest-btn" href="#" role="button"
							><i class="fa-brands fa-pinterest-p"></i>
						</a>

						<a class="instagram-btn" href="#" role="button"
							><i class="fab fa-instagram"></i
						></a>

						<a class="email-btn" href="#" role="button"
							><i class="fa-solid fa-envelope"></i
						></a>
					</div>

		</div>
	</div>
</footer>
